.DS_Store
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.envrc
.venv
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
*.egg-info/
.eggs/
build/
dist/
.pyre/
.pytype/
.idea/
.vscode/
*~
